@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  min-height: 100%;
}

.navigation-menu,
.navigation-user,
.advantages-list,
.advice-list,
.breadcrumbs,
.hotels-filter-list,
.button-sort-list,
.catalog-list,
.pagination,
.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Шапка*/
.page-header {
  display: flex;
  width: 1060px;
  height: 64px;
  padding: 0 70px;
}
/*Ссылка-лого*/
.page-header-link {
  width: 140px;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}
/*Тег nav*/
.navigation {
  display: flex;
  width: 890px;
  margin: 0 auto;
}
/*Основная навигация, список*/
.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 540px;
}
/*Ссылка в li*/
.navigation-menu-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
  padding: 20px 16px;
}
/*Тень на главной/текущая страница*/
.navigation-link-current {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Меню пользователя, список*/
.navigation-user {
  display: flex;
  align-items: center;
  max-width: 350px;
  margin-left: auto;
}
.navigation-user-link {
  display: inline-block;
  min-width: 44px;
  min-height: 64px;
}
.navigation-user-link-search {
  padding: 22px 13px;
}
.navigation-user-link-favorite {
  padding: 23px 13px;
  margin-right: 20px;
}
.notification-badge {
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #ffffff;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
}
/*Общее для кнопок*/
.button {
  font: inherit;
  display: inline-block;
  padding: 8px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
/*Кнопка в шапке*/
.button-header {
  font-size: 16px;
  width: 160px;
  background-color: #756157;
}

.main-index,
.main-inner {
  flex-grow: 1;
}
/*Section*/
.hero {
  background-image: url("../images/index-background.jpg");
  background-color: #496578;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  color: #ffffff;
}
/*Figure для img*/
.hero-image {
  width: 458px;
  height: 352px;
  margin: 0 auto;
}
/*Тег img*/
.hero-text {
  display: inline-block;
  vertical-align: middle;
}
/*Псевдо-заголовки h2!*/
.advantages-lead,
.advice-lead,
.search-hotel-lead,
.newsletter-lead,
.newsletter-lead-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
/*Описание под псевдо-заголовками h2!*/
.advantages-header-description,
.advice-header-description,
.search-hotel-description,
.newsletter-description-hotels {
  color: #333333;
  text-align: center;
  margin: 0 auto;
}
/*Div c псевдозаголовком*/
.advantages-header {
  margin: 69px auto;
}
.advantages-lead {
  margin-bottom: 25px;
}

/*Заголовки h3*/
.advantages-title,
.advice-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.advantages-title {
  margin-bottom: 62px;
}
.advice-title {
  margin-bottom: 30px;
}
/*Описание под h3*/
.advantages-description,
.advice-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
}

/*Список преимуществ*/
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
/*Figure для img*/
.advantages-container {
  margin: 0;
}
/*Тег img*/
.advantages-image {
  display: inline-block;
  vertical-align: middle;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}
/*Li с картинкой на голубом фоне*/
.advantages-item-blue {
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
}
.advantages-item-blue-left {
  order: 1;
}
.advantages-item-blue-right {
  order: -1;
}
.advantages-title-blue,
.advantages-description-blue {
  color: #ffffff;
  text-align: center;
}

/*Div с текстом преимуществ*/
.advantages-item-block,
.advantages-item-area,
.advantages-item-road,
.advantages-item-tourists {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}

/*Секция advice!*/
/*Div c псевдозаголовком!*/
.advice-header {
  margin: 64px auto;
}
.advice-lead {
  margin-bottom: 20px;
}
.advice-list {
  display: flex;
  flex-wrap: wrap;
}
.advice-item {
  width: 230px;
  padding: 180px 85px 80px;
  background-color: rgba(131, 179, 211, 0.12);
}
.advice-item-food {
  background-color: #ffffff;
}

/*Секция поиска гостиниц*/
.search-hotel {
  padding-top: 96px;
  padding-bottom: 96px;
}
.search-wrapper {
  width: 592px;
  margin: 0 auto;
  text-align: center;
}
.search-hotel-lead,
.newsletter-lead,
.newsletter-lead-hotels {
  margin-bottom: 20px;
}
.search-hotel-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 54px;
}
/*Кнопка поиска гостиниц!*/
.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  text-align: center;
  border-radius: 4px;
  padding: 8px 50px;
}

/*Секция подписки!*/
.newsletter {
  background-image: url("../images/subscribe.jpg");
  background-color: #496578;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 96px 250px 104px;
}
.newsletter-hotels {
  padding: 96px 250px 104px;
}
.newsletter-wrapper,
.newsletter-hotels-wrapper {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.newsletter-lead {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.newsletter-description,
.newsletter-description-hotels {
  margin-bottom: 54px;
}
/*Форма!*/
.newsletter-form {
  display: flex;
  justify-content: center;
}
/*!*/
.newsletter-form-name {
  display: inline;
  margin: 0;
}
/*Поля ввода!*/
.newsletter-form-name input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 21px;
}
/*Кнопка подписки!*/
.button-newsletter {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  padding: 8px 50px;
}


/*Подвал!*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}
/*Список соцсетей!*/
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
  justify-content: center;
}
.footer-social-item {
  min-width: 48px;
  min-height: 40px;
}
.footer-social-link {
  display: flex;
  padding: 12px 11px;
}
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
}
.htmlacademy-link {
  display: flex;
  width: 115px;
}

/*!!!Каталог гостиниц!!!*/
/* Div с фильтрами */
.container-filter {
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #496578;
  color: #ffffff;
  padding: 35px 70px 70px;
}

/*Секция заголовка*/
.inner-header {
  margin-bottom: 40px;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 8px;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.breadcrumbs-home-icon {
  display: inline-block;
  min-width: 13px;
  min-height: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.breadcrumbs-current {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 28px;
}
/*Форма с фильтрами*/
.hotels-filter-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.hotels-filter-group {
  width: 150px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 30px;
}
.comfort {
  margin-right: 70px;
}
.control-checkbox {
  position: relative;
  display: block;
  padding-left: 36px;
}
.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  left: 0;
  cursor: pointer;
}
.control-mark-checkbox {
  border-radius: 4px;
}
.control-mark-radio {
  border-radius: 50%;
}


.control-label {
  line-height: 23px;
  cursor: pointer;
}
.hotels-filter-item:not(:last-child) {
  margin-bottom: 16px;
}
.hotels-filter-price {
  border: 0;
  margin: 0;
  padding: 0;
}
.filter-button {
  width: 191px;
  padding-top: 56px;
  margin-bottom: 30px;
}
/*Каталог гостинец!*/
.catalog-hotels {
  margin: 50px 70px 60px;
}
/*Div: Число и сортировка результата, шапка!*/
.sort-result{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
/*Найдено гостиниц: 38!*/
.sort-result-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.select {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}
.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
/*Список кнопок view!*/
.button-sort-list {
  display: flex;
  flex-wrap: wrap;
}
.button-sort-item {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.button-sort-item:last-child {
  margin-right: 0;
}
.button-sort-table,
.button-sort-default-pic,
.button-sort-list-view {
  display: block;
}
.button-sort-table {
  border: 2px solid #000000;
  border-radius: 4px;
}

/*Список из карточек отелей!*/
.catalog {
  margin-bottom: 80px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}
/*Li, карточка отеля!*/
.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  color: #333333;
  padding: 20px;
}
/*Ссылка: img + название отеля*/
.hotel-card-link {
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-card-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.hotel-card-title {
  margin: 0;
  margin-top: 16px;
}
.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.hotel-card-price {
  text-align: right;
}
/*Ссылка-кнопка Подробнее*/
.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
}
/*Кнопка В избранное*/
.hotel-card-favourites {
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  border-radius: 4px;
}
/*Кнопка В избранном*/
.hotel-card-favourites-added {
  font-size: 16px;
  line-height: 20px;
  background-color: #7DB54F;
  border-radius: 4px;
}
 /*Span с рейтингом*/
.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination-item {
  margin-right: 8px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
